<h1>首頁</h1>
<p><strong>Welcome to 40923232 的網頁</strong></p>
<p><strong></strong></p>
<p><img alt="" height="648" src="/images/未命名.png" width="996"/></p>
<p><strong>BUILD THE BRIDGE TO THE FUTURE!!!</strong></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><strong><span lang="ru">СОЗДАЙТЕ МОСТ В БУДУЩЕЕ!!!</span></strong></pre>
<h1>PC Hardware UNIT4</h1>
<h3>PCH9 Network Overview</h3>
<h3>Network Defined by Geography(地理定義的網路)</h3>
<p></p>
<p><span style="color: #00ccff;"><em><strong>Overview</strong></em></span></p>
<p></p>
<p><span>In this module, we are going to cover the various types of networks, including local area networks, wide area networks, personal area networks, and metropolitan area networks. Next, we will cover the various network relationships, such as client/server and peer-to-peer, and focus on the types of resources our networks use. Finally, we will talk about the topologies of our networks, such as the bus, the ring, the star, the full mesh, and hybrid network topologies.</span></p>
<p><span></span></p>
<p><span style="color: #00ccff;"><em><strong>總覽</strong></em><strong></strong></span></p>
<p><span style="color: #00ccff;"><em></em></span></p>
<p>在本模塊中，我們將涵蓋各種類型的網絡，包括局域網，廣域網，個人局域網和城域網。 接下來，我們將介紹各種網絡關係，例如客戶端/服務器和對等網絡，並集中討論網絡使用的資源類型。 最後，我們將討論網絡的結構，例如總線，環形，星形，全網格和混合網絡結構。</p>
<p><span> </span></p>
<p><span style="color: #00ccff;"><em><strong>Network Defined by Geography</strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;">Networks are defined by the geography they cover. We start with the area around a si</span></span>ngle person, with this area being termed the personal area network (PAN). Next, we expand outward to the local area network (LAN), which can contain an entire office floor or building. Moving outward again, we have the metropolitan area network, which covers the area across the city by connecting multiple LANs together. Finally, we have the wide area network (WAN). This is the largest network we define by geography and it can go across the country or even across the world. A great example of a WAN is the Internet, since it connects many networks together and stretches across the globe.</p>
<p></p>
<p><span style="color: #00ccff;"><em><strong>地理定義的網路</strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;"></span></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;"></span></span></p>
<p><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image1.png"/></p>
<p><span style="color: #00ccff;"><span style="color: #000000;"><img alt="" src="/images/index.html"/></span></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up">Personal Area Network</span></strong></em></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up">A PAN has a very small range limited to just a few meters. If you stretch your hands out at your sides and spin around in a circle, this is the physical range of most PANs. Bluetooth is one of the main things we use to create a PAN, although USB and infrared can also be used for these networks. Bluetooth has a range between one meter and 100 meters depending on which class of Bluetooth you are using, but most common Bluetooth devices are class two devices limited to 10 meters. Some good examples of PANs are the connection between a USB hard drive and a laptop, or a Bluetooth cellphone connecting to your car stereo system wirelessly.</span></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up"></span></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up"><img alt="image2.png (198×204)" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image2.png"/></span></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up"><span>Simple LAN diagram. Public domain image obtained from</span></span></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up"><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image3.jpeg"/></span></span></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up"><span>Caption. Complex LAN diagram. Used with permission.</span></span></span></p>
<p><span style="color: #000000;"><span title="Quick scroll up"><span></span></span></span></p>
<h3>Network Defined by Relationships(關係定義的網路)</h3>
<p><span style="color: #000000;"><span title="Quick scroll up"></span></span></p>
<p><span>In addition to defining networks by geography or how much area they cover, you can also define them by the way they allocate their resources. The first method is what we call a client/server model. In a client/server model, a dedicated server or servers provide(s) access to files, scanners, printers, and other resources to client workstations. This simplifies the administration and backup burden, making the network centrally administered, and can provide better security because resources can be allocated according to job function, network privilege, or department, since all of the resources are located on a few key servers. The second way of sharing resources on the network is called the peer-to-peer model. In the peer-to-peer model, all workstations are considered equals: each computer or workstation shares its resources directly with the other workstations. There is no central administration. For example, if I shared my printer with my coworkers, then each time my coworker printed a document, it would be sent to the printer through my workstation. The drawback to this is that if my computer is turned off, my coworkers lose access to my resources, such as my printer. The administration and backup under the peer-to-peer model is much more difficult, since resources are located on numerous workstations across the network, making administrative tasks burdensome. Furthermore, there is no real way of securing network resources when allowing access between nodes or workstations. The benefit of peer-to-peer resource sharing is the low cost of entry, since no dedicated servers or specialized operating systems are required to share the resources.</span></p>
<p><span></span></p>
<h3>Network Defined by Topology(結構定義的網路)</h3>
<p></p>
<p><span>Besides geography and relationships, we can also define our networks by their topology. When we define our networks by their topology, we consider both the physical and logical topology, and both of these topologies do not have to match for a single network. The physical topology determines how the devices are physically connected, while the logical topology determines how the traffic flows across the network in a logical manner. There are many types of topologies, including bus, ring, star, full mesh, and hybrid. Currently, the most widely used model is a physical star and a logical bus topology using Ethernet.</span></p>
<p><span></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up">Bus Topology</span></strong></em></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up"><span style="color: #000000;"></span></span></strong></em></span></p>
<p><span style="color: #00ccff;"><span title="Quick scroll up"><span style="color: #000000;">Bus topology typically uses a single cable running through the area that needs network connectivity, with each device that wishes to connect to the network tapping into that cable. The devices tap into the cable using either a T connector (see diagram below) or a vampire tap. A vampire tap is actually a type of connection where a metal tooth bites into the cable, making a physical connection with the copper wire running inside the cable. While bus topology is an older technology and not commonly used anymore, physically, it can still be found as a logical implementation in some instances.</span></span></span></p>
<p><span style="color: #00ccff;"><span title="Quick scroll up"><span style="color: #000000;"></span></span></span></p>
<p><span style="color: #00ccff;"><span title="Quick scroll up"><span style="color: #000000;"><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image15.png"/></span></span></span></p>
<p><span style="color: #00ccff;"><span title="Quick scroll up"><span style="color: #000000;"><span>Bus topology diagram. Image used under CC-BY-SA license from</span></span></span></span></p>
<p><span style="color: #00ccff;"><span title="Quick scroll up"><span style="color: #000000;"><span></span></span></span></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up">Ring Topology</span></strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"></span></span></p>
<p id="N106BC" lang="">Ring topology typically uses a cable running in a circular loop, with each device connected to the ring. Data travels in a single direction around the ring. The most common use of ring topology is with backbone fiber networks. Fiber distributed data interface (FDDI) is a set of standards for transmitting data on fiber-optic lines in a LAN. FDDI commonly uses two counter-rotating rings to provide more redundancy. Each device waits its turn to communicate on the ring by passing a token around the ring. Therefore, ring topology networks are also called token ring networks. As there are two counter-rotating rings, FDDI tends to provide a little more redundancy than a standard bus topology. However, both bus and ring topologies were quickly replaced in most LANs by the star topology.</p>
<p></p>
<p><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image16.png"/></p>
<p><span>Ring topology diagram. Photo used under CC-BY-SA license from</span></p>
<p><span></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up">Star Topology</span></strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"></span></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"><span>Star topology is by far the most common topology in use today. We find star topologies in use in nearly all local area networks. All the devices of the star topology connect to a single point. That single point of connection can be a hub or switch. In most modern networks, the single connection point will be a switch. Star topologies are the dominant physical topology today, although they are not always used as the logical topology. Ethernet cabling, also known as unshielded twisted-pair, is very commonly employed in local area networks using a star configuration. However, fiber-optic connections can also be used for high-speed or high-security networks. The downside with the star topology is that it creates a single point of failure. If a central device such as a switch fails, the entire network fails as well. Star topologies have the benefit of reduced expense and make expansion very easy, unlike bus and ring network varieties.</span></span></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"><span></span></span></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image17.png"/></span></span></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"><span>Star topology diagram. Photo used under CC-BY-SA license from</span></span></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"><span></span></span></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up">Full Mesh Topology</span></strong></em></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up"></span></strong></em></span></p>
<p id="N106F0" lang="">To deal with the issue of redundancy, the full mesh topology was created. This topology is by far the most redundant, and expensive, topology because every node or workstation in the network is directly connected to every other node. While this provides optimal routing, it is very expensive to maintain and operate. The number of connections required for any number of nodes can be calculated by using the formula, x = n(n-1)/2. For example, if you have six nodes, that would require 15 cables to connect them all to each other. If you had 50 nodes, that would require 1225 separate connections. You can certainly see why this topology is almost never used for local area networks, as the number of machines would drive the number of connections up too quickly.</p>
<p lang=""></p>
<p lang=""><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image18.png"/></p>
<p lang=""><span>Photo used under CC-BY-SA license from</span></p>
<p lang=""><span></span></p>
<p><span style="color: #00ccff;"><em><strong><span title="Quick scroll up">Partial Mesh Topology</span></strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;" title="Quick scroll up"></span></span></p>
<p id="N1070A" lang="">To solve the cost issues created by the full mesh topology, engineers created the partial mesh topology. Partial mesh topology is really a hybrid full mesh topology. It provides redundancy and optimal routing between some sites, while avoiding the expense of connecting every single site. In order to create this successfully, though, you must consider the network traffic patterns to design it efficiently.</p>
<div class="examplewrap">
<div class="exHead"><strong><span class="scnReader">EXAMPLE</span></strong></div>
<div class="exHead"><span class="scnReader"></span></div>
<div class="exHead"><em><span class="scnReader"><span>If we have two sites which are very busy, such as Los Angeles, CA and New York, NY, we may want to provide them with additional redundancy by connecting them to a third city, such as Washington, DC. But a slower site, maybe somewhere like Greenville, SC, might only need to be connected to one of those three sites and can then use that as a jumping off point to connect to the other two sites. This works very similar to our air travel system, where we connect the large cities together directly, and we avoid direct flights to small cities. For example, if someone wanted to fly from Greenville to Los Angeles they would first take a flight from Greenville to Washington DC, then a direct flight on a larger plane to Los Angeles from Washington.</span></span></em></div>
<div class="exHead"></div>
<div class="exHead"><span class="scnReader"><span></span></span></div>
<div class="exHead"><span class="scnReader"><span>The same concept applies in a partial mesh topology. Partial mesh adds additional resources (connections) between the biggest and busiest sites, while still providing the smaller sites with minimal service to one of the large hub sites. The smaller site uses the large hub as a jumping off point to the rest of the network.</span></span></div>
</div>
<p></p>
<p><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image19.png"/></p>
<p><span>Mesh network topology diagram. Public domain image obtained from</span></p>
<p><span></span></p>
<p><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH09/webcontent/PCH09/image20.png"/></span></p>
<p><span>Diagram of multiple classifications of network topologies. Public domain image obtained from </span></p>
<p></p>
<h2>PCH10 Network Hardware</h2>
<h3>Network Devices(網路裝置)</h3>
<p></p>
<p><em><strong><span style="color: #00ccff;">Overview</span></strong></em></p>
<p><em><strong><span style="color: #00ccff;"></span></strong></em></p>
<p><em></em><span style="color: #000000;"><span>Network devices vary according to their purpose. In this module, we will discuss various devices, such as hubs, switches, routers, bridges, network adapters, and media. As we discuss the devices, you should pay attention to their uses, their benefits, and their limitations. We will also explore how to install a network adapter.</span></span></p>
<p><span style="color: #000000;"></span></p>
<p><span style="color: #00ccff;"><em><strong>Hub</strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;"></span></span></p>
<p id="N1069A" lang="">Hubs are among the most simplistic networking devices and are used to connect multiple network devices and workstations to each other, thereby forming a network. Hubs are also known as multiport repeaters. A hub works by accepting a signal in one port and rebroadcasting that same signal out to all of its other ports. Standard hubs do not have any “intelligence” (ability to change in response to varying situations or requirements), so we often refer to them as “dumb hubs.” Hubs can be classified as either active or passive. An active hub repeats the signal it receives on all of its ports and amplifies that signal to full strength. Passive hubs only repeat the signal without adding any amplification. Hubs are an older technology that can be used to easily increase the number of ports available, but this can lead to excessive network errors and collisions. There are newer variants of hubs called smart hubs. Smart hubs are essentially active hubs with enhanced feature sets, such as the use of simple network management protocol (SNMP).</p>
<p id="N1069D" lang="">Three basic types of Ethernet hubs are as follows:</p>
<ul lang="">
<li lang="">Passive hub – repeats signal with no amplification</li>
<li lang="">Active hub – repeats signal with amplification</li>
<li lang="">Smart hub – active hub with enhanced features (ex: SNMP)</li>
</ul>
<p id="N106AC" lang="">Hubs have no inherent security designed within them because they simply rebroadcast all the information received from one port to every other port. Essentially, hubs rely on the connected workstations to only “listen” to the information on their port if that information is specifically addressed to that workstation. When the information is not addressed to it, the workstation is supposed to simply ignore the data. But a network card can be placed into “promiscuous” mode, where it will listen to all traffic, regardless of which workstation that traffic is addressed to. This makes hubs very insecure.</p>
<p id="N106AF" lang="">Another drawback of hubs is that they have to share bandwidth, as all devices operate in one collision domain. Therefore, if you have a 100 Mbps hub, but connect four devices to that hub, your devices will effectively be operating at 25 Mbps each. This can lead to huge slowdowns in your network traffic when using a 16-, 24-, or 48-port hub.</p>
<p lang=""></p>
<p lang=""><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image1.jpeg"/></p>
<p lang=""><span>LAN Network Diagram. Copyright:</span></p>
<p lang=""><span></span></p>
<p lang=""><span style="color: #00ccff;"><em><strong>Bridges</strong></em></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"><span>Because hubs operate with all devices acting in a single collision domain, a network device that could break up that collision domain into smaller units is required to help the network operate more efficiently. For example, if a hub is connected to another hub, they both operate under a single </span><a aria-describedby="N106CD" class="extra" id=""></a>collision domain<span><span> </span>. A bridge is used to connect two hubs together, but still keep the hubs’ collision domains separate. This interconnection of multiple network segments together allows networks to scale into large networks without significantly decreasing the performance of that network. Bridges are smarter than hubs; in fact, they actually analyze the source<span> </span></span><a aria-describedby="N106D6" class="extra" id=""></a>media access control (MAC) addresses<span><span> </span>in the frames entering the bridge and populate an internal MAC table based on those addresses. Future routing decisions are based upon those destination MAC addresses. This intelligent forwarding based on the destination MAC address in the frame allows for a decrease in network traffic by only forwarding information to the root hub associated with the network device. Network switches, which we will discuss, are the evolution of hubs and bridges.</span></span></span></p>
<p lang=""></p>
<p lang=""><span style="color: #00ccff;"><em><strong>Switches</strong></em></span></p>
<p><span style="color: #00ccff;"><span style="color: #000000;"></span></span></p>
<p id="N106E8" lang="">Switches are used to connect multiple network segments together, whether they connect from switch to switch, or switch to workstation. Each port on a switch acts as its own collision domain. A switch is an evolution from a hub and bridge. Essentially, each port on a switch operates as if it were a hub with a bridge connecting the ports of the hub to the workstation, thereby reducing the chance of a collision on the network to zero.</p>
<p id="N106EB" lang="">Switches are intelligent devices that make forwarding decisions based upon the MAC addresses they learn and place in their MAC tables. A switch analyzes the source MAC addresses in frames as they enter the switch, and then populates the switch’s internal MAC table with the addresses to match them with the switch ports. This allows the switch to forward the frame only to the correct device on a single switch port, thereby increasing security and network speed.</p>
<p id="N106EE" lang="">If a switch receives a frame but does not have the destination MAC address in its forwarding table, it will flood the frame to all ports except the source to solicit the location of the destination MAC address. Switches break up collision domains but create<span> </span><a aria-describedby="N106F2" class="extra" id=""></a>broadcast domains<span> </span>.</p>
<p id="N106FA" lang="">Security is increased because only the device to which the information is addressed can receive a copy, regardless of whether the card is in “promiscuous” mode. This is similar in operation to an old-fashioned telephone operator switchboard. If the information isn’t addressed to your port, your port won’t receive the information. Also, because each port is in its own collision domain, the network speed is increased. Regardless of how many devices are on the network, each switch port has full-speed operations, so for a 100 Mbps switch, each device operates at 100 Mbps.</p>
<p lang=""></p>
<p lang=""><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image2.png"/></p>
<p lang=""><span>Network diagram with switch. Image used under CC-BY license from</span></p>
<p lang=""><span></span></p>
<p lang=""><span style="color: #00ccff;"><em><strong>Routers</strong></em></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"></span></span></p>
<p><span>Routers move data packets (layer 3), as opposed to switches (layer 2), which move frames. Routers separate network segments based on IP addressing and will only forward packets out of the segment when configured to do so. This design breaks up broadcast domains created by switches. It is up to the network professional to configure the router to connect different networks together and perform intelligent routing decisions. A router is most closely associated with a computer in that it has a processor and a sophisticated OS. The router compares the IP address of the source and destination of the packet and forwards traffic to/from a network based on this logical address (IPv4 and IPv6 addresses, for example). Routers are typically feature-rich devices and support a wide range of interface types, including unshielded twisted pair, fiber optic, and coaxial cable connections. Like a switch, each port on a router is a separate collision domain. Using access control lists, routers have the ability to block access to networks based on ports or addresses. This blocking adds to the network’s security.</span></p>
<p><span></span></p>
<p><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image3.png"/></span></p>
<p><span>Network diagram with router. Image used under CC-BY license from</span></p>
<p><span></span></p>
<p><span style="color: #00ccff;"><em><strong>Netwok <span style="color: #00ccff;">Adapter</span></strong></em></span></p>
<p></p>
<p id="N1072F" lang="">The network adapter is used to connect a workstation to the network through the use of media. The network adapter can be built in to the motherboard of the device in several ways:</p>
<ul lang="">
<li lang="">Using an integrated port cluster.</li>
<li lang="">Added to a workstation through the use of an internal expansion card (PCIe, PCI, or mini-PCIe).</li>
<li lang="">Through the use of an externally connected card, such as USB or PCMCIA.</li>
</ul>
<p id="N1073E" lang="">There are two main types of network adapters: wired and wireless. The wired cards support various cable types, such as unshielded twisted pair (UTP), fiber optic, and coaxial cabling. These various cable types are called media.</p>
<p lang=""></p>
<p lang=""><span style="color: #00ccff;"><em><strong>Media</strong></em></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"></span></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"><span>Media is the term used to categorize the physical connection between two device ports, such as between a computer and a switch. Media is made up of copper cable, fiber-optic cable, or even radio frequency waves (as used in Wi-Fi networks). Media varies greatly in cost, from free for radio waves, to cheap for unshielded twisted pair (copper cable), to expensive for fiber-optic cabling. The type of media determines the bandwidth speed, capacity, and distance limitations for a particular network. We will discuss media in more depth in a future module.</span></span></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"><span></span></span></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"><span><img src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image4.png"/></span></span></span></p>
<p lang=""><span style="color: #00ccff;"><span style="color: #000000;"><span>Network diagram with arrows pointing to connection media. Image used under CC-BY license from</span></span></span></p>
<p lang=""></p>
<h3>Install a Network Adapter(安裝網路適配器)</h3>
<p></p>
<p><span>There are times when you may need to install an add-on network interface card (NIC). Current desktop motherboards should have a built-in NIC on the rear input/output (I/O) panel. Installing an add-on card can keep a machine in service if the built-in NIC is defective or if you need to upgrade to match the current local area network (LAN) specifications (i.e., from a 10/100 BaseT to 10/100/1000 or 10GBaseT).</span></p>
<div class="contentContain"></div>
<div class="contentContain">
<p id="N106AF" lang="">To install an NIC, follow these steps:</p>
<ol lang="">
<li lang="">Check documentation to verify which NIC will match your expansion slots (PCI or PCIe) and the LAN requirements. Ensure that the adapter will work with the motherboard.</li>
<li lang="">Power down the computer and disconnect the main power cord from the machine.</li>
<li lang="">Following safe repair practice (proper grounding/anti-static strap), open the side cover of the computer to inspect available expansion slots.</li>
<li lang="">Match the connector/pinouts of the new NIC card and verify it matches the proposed slot.</li>
<li lang="">Remove the corresponding computer PCI option slot cover from the back panel.</li>
<li lang="">Line up the connector of the NIC to the expansion slot and seat it firmly as you guide the bracket up to the back panel of the computer, ensuring proper alignment. Tighten the new NIC with the screw that is usually supplied.</li>
<li lang="">Close the side cover of the computer following safe repair procedures.</li>
<li lang="">Reconnect the main power cord.</li>
<li lang="">Power up the machine.</li>
</ol>
<p id="N106D0" lang="">After the NIC hardware is installed, the drivers should install automatically, depending on the operating system. For Windows (Vista/Win7/Win8.1/Win10), verify connectivity in the network and sharing center. For Linux, go to network settings, and search online for the appropriate driver depending on the<span> </span><a aria-describedby="N106D4" class="extra" id=""></a>Linux distribution<span> </span>, such as Red Hat Linux or Ubuntu).</p>
<p lang=""></p>
<p lang=""><img alt="Photograph of an NIC. The card is a rectangular board. It has gold pins on the left and it has a metal end. There are two ports protruding from the metal end: a coaxial port and an Ethernet port." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image5.jpeg"/></p>
<p lang=""><span>NIC with coaxial port. Photo used under CC-BY license from</span></p>
<p lang=""><span></span></p>
<p lang=""><span><img alt="Photograph of an NIC PCI express card. It is a rectangular board with with gold pins protruding from the bottom of the card." src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH10/webcontent/PCH10/image6.jpeg"/></span></p>
<p lang=""><span>Intel 82574L gigabit Ethernet NIC PCI express x1 card. Photo used under CC-BY license from</span></p>
<p lang=""><span></span></p>
<p lang=""><span>In the lab below, you should install a new network interface card (NIC). In doing so, be sure that the card has the right pinout. Also, be sure to use proper ESD precautions.</span></p>
</div>